<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
             xsi:schemaLocation="http://www.springframework.org/schema/beans
                    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
                    http://www.springframework.org/schema/security
                    http://www.springframework.org/schema/security/spring-security-3.2.xsd">

    <http auto-config="false" disable-url-rewriting="true" use-expressions="true"
          entry-point-ref="auth" create-session="never">
        <intercept-url pattern="/**" access="permitAll"/>
        <custom-filter position="PRE_AUTH_FILTER" ref="sessionManager"/>
    </http>

    <beans:bean id="auth" class="lorabit.security.LoginEntryPoint">
        <beans:property name="loginUrl" value="/login/"/>
    </beans:bean>


    <beans:bean id="authProvider"
                class="org.springframework.security.web.authentication.preauth.PreAuthenticatedAuthenticationProvider">
        <beans:property name="preAuthenticatedUserDetailsService">
            <beans:bean class="lorabit.security.AuthService"/>
        </beans:property>
    </beans:bean>
    <!--<beans:bean id="sessionMgr" class="com.duitang.infrastructure.SessionMgr" p:authenticationManager-ref="authenticationManager"/>-->
    <beans:bean id="sessionManager" class="lorabit.security.SessionManager"
                p:authenticationManager-ref="authenticationManager"/>
    <authentication-manager alias="authenticationManager">
        <authentication-provider ref="authProvider"/>
    </authentication-manager>

</beans:beans>
