<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- 启用注解 -->
    <context:annotation-config/>

    <bean id="configProperties"
          class="org.springframework.beans.factory.config.PropertiesFactoryBean">
        <property name="locations">
            <list>
                <value>classpath*:/conf/*.prop*</value>
            </list>
        </property>
    </bean>
    <bean id="propertyConfigurer"
          class="org.springframework.beans.factory.config.PreferencesPlaceholderConfigurer">
        <property name="properties" ref="configProperties"/>
    </bean>

    <!-- 启动组件扫描，排除@Controller组件，该组件由SpringMVC配置文件扫描 -->
    <context:component-scan base-package="com">
        <context:exclude-filter type="annotation"
                                expression="org.springframework.stereotype.Controller"/>
        <context:exclude-filter type="annotation"
                                expression="org.springframework.web.bind.annotation.ControllerAdvice"/>
    </context:component-scan>


    <bean id="mvcObjectMapper" class="com.fasterxml.jackson.databind.ObjectMapper">
        <property name="serializationInclusion">
            <value type="com.fasterxml.jackson.annotation.JsonInclude.Include">NON_NULL</value>
        </property>
    </bean>

    <bean id="mvcSerializationConfig" class="com.fasterxml.jackson.databind.SerializationConfig"
          factory-bean="mvcObjectMapper" factory-method="getSerializationConfig"/>

    <!--spring是有默认值得。貌似是class的驼峰命名 首字母小写 -->
    <bean class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
        <property name="targetObject" ref="mvcSerializationConfig"/>
        <property name="targetMethod" value="without"/>
        <property name="arguments">
            <list>
                <value type="com.fasterxml.jackson.databind.SerializationFeature">
                    WRITE_NULL_MAP_VALUES
                </value>
            </list>
        </property>
    </bean>

    <bean id="taskScheduler" class="com.lorabit.cloud.scheduler.TaskScheduler" />
    <bean id="runtimeConfig" class="com.lorabit.cloud.RuntimeConfig" >
        <property name="observers">
            <list>
                <ref bean="taskScheduler"></ref>
            </list>
        </property>
    </bean>

    <bean id="taskHelper" class="com.lorabit.cloud.scheduler.TaskHelper" />
    <bean id="solrWebLBServer" class="org.apache.solr.client.solrj.impl.LBHttpSolrClient">
        <constructor-arg>
            <array value-type="java.lang.String">
                <value>http://127.0.0.1:8983/solr/web_shard1_replica1/</value>
            </array>
        </constructor-arg>
    </bean>
    <bean id="solrBlogLBServer" class="org.apache.solr.client.solrj.impl.LBHttpSolrClient">
        <constructor-arg>
            <array value-type="java.lang.String">
                <value>http://127.0.0.1:8983/solr/test_shard1_replica1/</value>
            </array>
        </constructor-arg>
    </bean>

    <bean id="ctxHolder" class="com.lorabit.util.CtxHolder" />

</beans>